.pink{
  background-color: #ffecf7;
  padding: 20px 100px  20px 100px;
}

.pink-box{
  display: flex;
  background-color: #d1207d;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.pink h3,p{
  display: flex;
  justify-content: center;
}
.pink-image{
  margin-right: -2px;   
  padding-left: -12px;   
}