.pink{
  background-color: #ffecf7;
  padding: 40px 40px  40px 40px;
}

.pink-box{
  display: flex;
  background-color: #b41c69;
  height: 100px;
  width: 80px;
  justify-content: center;
  border-radius: 10px;
}

.pink-box img{
  height: 80;
  width: 60;  
}

.pink h3,p{
  display: flex;
  justify-content: center;
}