body{
  background-color: #f5f5f5;
}
/* putting the input box on top of the image */


.main{
  position: relative;
}

.input-box{
  position: absolute;
  top: 20px;
  right: 46px;
  height: 22px;
  width: 222px; 
  display: inline-block;
}
.small{
  border-width: thick;
}

span{
  color: #b41c69;
}
.input-box span{
  
  background-color: #b41c69;
  color: white;
}
